.title {
    font-family: variables.$heading-font;
    font-size: 120px;
    color:#fc8a9d;
    width: 75%;
    letter-spacing: 2px;
    line-height: 110px;
    
}

.subtitle {
    font-family: variables.$heading-font;
    font-size: 26px;
    color:black;
    width: 60%;
    letter-spacing: 2px;
    margin-top: 30px;
    
}